html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
}

.gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
}

label {
  margin-block: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

textarea {
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 1);
  border: 0;
  cursor: pointer;
  background-color: rgba(78, 117, 255, 1);
}

button[type='submit'] {
  background-color: rgba(78, 117, 255, 1);
}

button[type='submit']:hover {
  background-color: rgba(108, 140, 255, 1);
}

button[type='reset'] {
  background-color: rgba(255, 78, 78, 1);
}

button[type='reset']:hover {
  background-color: rgba(255, 112, 112, 1);
}